parameters:
  ascii:
    failed: ~
    succeeded: ~
  tasks:
    php_compatibility:
      testVersion: "7.3"
    check_file_permissions: ~
    php_check_syntax: ~
    phpcs:
      standard:
        - vendor/wunderio/code-quality/phpcs.xml
        - vendor/wunderio/code-quality/phpcs-security.xml
      ignore_patterns:
        - cfg/
        - libraries/
      extensions: [php, inc, module, install]
      report_width: 120
    ecs:
      config: vendor/wunderio/code-quality/ecs.yml
      run_on: ['.']
      clear-cache: false
      no-progress-bar: true
  extensions:
    - Wunderio\GrumPHP\Task\PhpCompatibility\PhpCompatibilityExtensionLoader
    - Wunderio\GrumPHP\Task\PhpCheckSyntax\PhpCheckSyntaxExtensionLoader
    - Wunderio\GrumPHP\Task\CheckFilePermissions\CheckFilePermissionsExtensionLoader
    - Wunderio\GrumPHP\Task\Ecs\EcsExtensionLoader
    - Wunderio\GrumPHP\Task\Phpcs\PhpcsExtensionLoader
