parameters:
	customRulesetUsed: true
	reportUnmatchedIgnoredErrors: false
	# Ignore phpstan-drupal extension's rules.
	ignoreErrors:
		- '#\Drupal calls should be avoided in classes, use dependency injection instead#'
		- '#Plugin definitions cannot be altered.#'
		- '#Missing cache backend declaration for performance.#'
		- '#Plugin manager has cache backend specified but does not declare cache tags.#'
includes:
	- %currentWorkingDirectory%/vendor/mglaman/phpstan-drupal/extension.neon
	- %currentWorkingDirectory%/vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- %currentWorkingDirectory%/vendor/symplify/coding-standard/packages/cognitive-complexity/config/cognitive-complexity-services.neon

services:
    -
        class: Symplify\CodingStandard\CognitiveComplexity\Rules\FunctionLikeCognitiveComplexityRule
        tags: [phpstan.rules.rule]
        arguments:
            maxMethodCognitiveComplexity: 16
    -
        class: Symplify\CodingStandard\CognitiveComplexity\Rules\ClassLikeCognitiveComplexityRule
        tags: [phpstan.rules.rule]
        arguments:
            maxClassCognitiveComplexity: 50
